<ul>
    <li><a href="https://webpages.charlotte.edu/cbentle6/">UNCC Homepage</a></li>
    <li><a href="https://github.com/cameronpbentley/">GitHub Repo</a></li>
    <li><a href="https://cameronpbentley.github.io/">GitHub.io Page</a></li>
    <li><a href="https://cameronpbentley.github.io/itis3135/">GitHub.io Course Page</a></li>
    <li><a href="https://www.freecodecamp.org/cbentle6">FreeCodeCamp</a></li>
    <li><a href="https://www.codecademy.com/profiles/cbentle6">Codecademy</a></li>
    <li><a href="https://www.linkedin.com/in/cameron-bentley-432437299/">LinkedIn</a></li>
</ul>
<p>Designed by <a href="cameronbentleyenterprises.com/" style="color: #FFFFFF;">Cameron Bentley Enterprises</a> © 2025</p>
<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img class="validation-img" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img class="validation-img" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>